{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1 class="visually-hidden">Dashboard</h1>
    <h2 class="mb-4 text-center">Analytics Section</h2>

    <!-- Analytics Section -->
    <div class="row">
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card shadow analytics-card" role="region" aria-labelledby="total-items-number">
                <div class="card-body text-center">
                    <h3 class="analytics-card-title">TOTAL ITEMS</h3>
                    <p class="card-number">{{ total_items|intcomma }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card shadow analytics-card" role="region" aria-labelledby="total-categories-number">
                <div class="card-body text-center">
                    <h3 class="analytics-card-title">TOTAL CATEGORIES</h3>
                <p class="card-number">{{ total_categories|intcomma }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card shadow analytics-card" role="region" aria-labelledby="total-value-title">
                <div class="card-body text-center">
                    <h3 class="analytics-card-title">TOTAL VALUE</h3>
                <p class="card-number">${{ total_value|floatformat:2|intcomma }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card shadow analytics-card" role="region" aria-labelledby="low-stock-items">
                <div class="card-body text-center">
                    <h3 class="analytics-card-title text-danger-alert">LOW STOCK ALERTS</h3>
                <p class="card-number text-danger-alert">{{ low_stock_count|intcomma }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Quick Actions -->
    <div class="mt-4 quick-actions">
        <h2>Quick Actions</h2>
        <div class="quick-actions-buttons d-flex flex-wrap justify-content-center gap-3 mt-3">
            <a href="{% url 'add-category' %}" class="btn btn-primary mx-2" aria-label="Navigate to Add a new category page">Add Category</a>
            <a href="{% url 'add-item' %}" class="btn btn-primary mx-2" aria-label="Navigate to Add a new item page">Add Item</a>
            <a href="{% url 'select-item' 'record' %}" class="btn btn-primary mx-2" aria-label="Select an item to record a transaction">Add Transaction</a>
            <a href="{% url 'select-item' 'view' %}" class="btn btn-primary mx-2" aria-label="Select an item to view transactions">View Transaction</a>
            <a href="{% url 'stock-report' %}" class="btn btn-primary mx-2" aria-label="View all stock reports">Reports</a>
            <a href="{% url 'low-stock' %}" class="btn btn-danger mx-2" aria-label="View low stock items in a tabular format">Low Stock</a>
        </div>
    </div>
    <!-- Charts Overview -->
    <h2 class="mb-4 text-center">Charts Overview</h2>
    <!-- Charts Grid -->
    <div class="row">
        <!-- Total Quantity Chart -->
        <div class="col-md-6 mb-4">
            <a href="/stock-report/#stockOverviewChart" aria-label="View detailed stock overview in stock report">
            <div class="mini-chart-card">
                <div class="card-header text-center">
                </div>
                <div class="mini-chart-card-body">
                    <canvas id="stockOverviewChart" aria-label="Bar chart showing total quantity of items by category" role="img"></canvas>
                </div>
            </div>
        </a>
        </div>

        <!-- Low Stock Trends (Line Chart) -->
        <div class="col-md-6 mb-4">
            <a href="/stock-report/#lowStockLineChart" aria-label="View detailed low stock trends in stock report">
            <div class="mini-chart-card">
                <div class="card-header text-center">
                </div>
                <div class="mini-chart-card-body">
                    <canvas id="lowStockLineChart" aria-label="Line chart showing trends in low-stock items" role="img"></canvas>
                </div>
            </div>
        </a>
        </div>

        <!-- Total Value by Category (Horizontal Bar Chart) -->
        <div class="col-md-6 mb-4">
            <a href="/stock-report/#valueBarChart" aria-label="View detailed value by category information in stock report">
            <div class="mini-chart-card">
                <div class="card-header text-center"></div>
                <div class="mini-chart-card-body">
                    <canvas id="valueBarChart" aria-label="Horizontal Bar chart showing total value of items by category" role="img"></canvas>
                </div>
            </div>
        </a>
    </div>
        <!-- Category Contribution (Pie Chart) -->
        <div class="col-md-6 mb-4">
            <a href="/stock-report/#categoryPieChart" aria-label="View detailed pie chart in stock report">
            <div class="mini-chart-card">
                <div class="card-header text-center"></div>
                <div class="mini-chart-card-body">
                    <canvas id="categoryPieChart" aria-label="Pie chart showing each category contribution" role="img"></canvas>
                </div>
             </div>
            </a>
        </div>
    </div>
    <p class="text-center">Click on any chart to view detailed stock reports for that category.</p>
</div>
<!-- Dataset Element for Charts -->
<div id="chart-data"
     data-categories='{{ categories }}'
     data-quantities='{{ quantities }}'
     data-values='{{ values }}'
     data-lowstocks='{{ low_stocks }}'>
</div>
<!-- JavaScript -->
<script type="module" src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}