{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Record a New Transaction for {{ item.name }}</h3>
    <form method="post" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-start gap-2 mt-3">
        <button type="submit" class="btn btn-primary">Record Transaction</button>
        <a href="{% url 'item-detail' item.id %}" class="btn btn-secondary cancel-button">Cancel</a>
    </div>
    </form>
</div>
{% endblock %}
