{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center">Select an Item to record a New Transaction</h3>
    <form method="post" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center gap-3 mt-3">
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Next</button>
            <!-- Cancel Button -->
            <a href="{% url 'home' %}" class="btn btn-secondary cancel-button">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
