/* General Body Styles */
body {
    background-color: #F4F7FC; 
    font-family: Arial, sans-serif;
    color: #343a40;
    padding-top: 70px;
}

/*Navigation Bar*/
.nav-link.active {
    font-weight: 500;
    color: #343a40;
    text-decoration: underline;
}

/* Branding Styles */
.brand {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1e7a7a;
    letter-spacing: 1px;
}
.logo {
    color: #dd4b3a; 
}
/* Main Content */
/* Headings */

h2 {
    font-family: 'Lato', sans-serif;
    color: #343a40; 
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;; 
    text-align: center;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem; 
}

/* Buttons */
/* General */
.btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3125rem;
    text-align: center;
    transition: background-color 0.15s ease-in-out,
    color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
/* Primary Button */
.btn-primary {
    
    background-color: #1e7a7a;
    color: #FFFFFF;
    border: none;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #1e7a7a;
    border: 1px solid #1e7a7a;
}

/* Cancel Button */
.cancel-button {
    background-color: #6c757d; 
    color: #FFFFFF; 
    border: none; 
}

.cancel-button:hover {
    background-color: #FFFFFF; 
    color: #6c757d; 
    border: 1px solid #6c757d; 
}

/* Stock Alert Button */
.btn-danger {
    background-color: #dd4b3a;
    color: #FFFFFF;
    border: none;
}

.btn-danger:hover {
    background-color: #FFFFFF;
    color:#dd4b3a;
    border: 1px solid #dd4b3a;
}

/* General Table Styling */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table thead th {
    background-color: #1e7a7a;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.table tfoot th {
    font-weight: bold;
    background-color: #f8f9fa;
    color: #343a40;
    text-align: left;
    border-top: 2px solid #1e7a7a;
    margin-bottom: 1rem;
}

/* Highlight for Low Stock */
.table-danger {
    background-color: #f8d7da;
    color: #dd4b3a;
}
/* Table Search Bar */
.dataTables_filter input {
    border: 2px solid #1e7a7a;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

/* Forms */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}
.form-label {
    font-size: 24px;
    font-weight: bold;
    color: #343a40; 
    margin-bottom: 20px; 
}
form .form-control, form .form-select {
    border-radius: 5px;
}


/* Dashboard */
/* Analytics Section */
.analytics-card {
    border: 2px solid #1e7a7a;
    border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.analytics-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.analytics-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase; 
    color: #1e7a7a; 
    margin-bottom: 10px;
}
.card-number {
    font-size: 2.25rem;
    font-weight: bold;
    color: #343a40; 
}
.text-danger-alert{
    color: #dd4b3a;
}

/* Quick Actions Section*/
.quick-actions {
    border: 2px solid #343a40; 
    border-radius: 10px; 
    padding: 20px; 
    background-color: #ffffff; 
    margin: 20px 0; 
}


.quick-actions-buttons a {
    flex: 1 1 auto; 
    max-width: 200px; 
    text-align: center;
}

/* Charts Overview */
.mini-chart-card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mini-chart-card-body {
    padding: 20px;
}

/* Manage Inventory Page */
/* Search Bar */
.search-form {
    background-color: #f8f9fa; 
    border: 1px solid #e0e0e0; 
    border-radius: 0.5rem; 
    padding: 10px 15px; 
    display: flex;
    align-items: center;
    gap: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.search-input {
    flex: 1; 
    border: none; 
    border-radius: 0.25rem; 
    padding: 10px 15px; 
    font-size: 1.125rem; 
    color: #495057; 
}
.search-input:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(18, 93, 93, 0.5); 
    border: 1px solid #1e7a7a; 
}
/* Item Detail Card */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 20px;
}
/* Pagination Page*/
.pagination .page-link {
    color: #1e7a7a;
    border: 1px solid #e0e0e0;
    transition: all 0.3s;
}
.pagination .page-link:hover {
    background-color: #1e7a7a;
    color: #FFFFFF;
}

/* Reporting */
/* Charts */
.stock-chart-container {
    margin-top: 120px;
    max-width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border: 1px solid #bbb; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.stock-chart-container h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.stock-chart {
    max-height: 300px; 
}
.gap-top {
    margin-top: 30px; 
}


/* Footer */

.footer {
    background-color: #495057; 
    color: white;
    padding: 1rem 0; 
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #dd4b3a; 
    text-decoration: underline;
}

.footer p {
    margin: 0; 
    font-size: 0.9rem; 
}
